<h1>{{model.first_name}} {{model.last_name}}</h1>
<h3>Birthday: {{model.birthday}} | Affiliation: {{model.party}} | Email: {{model.oc_email}} | State: {{model.state_name}}</h3>
<h4>Contact: <a href="{{model.website}}">Website</a> | Phone: {{model.phone}}</h4>
<h1>Hello!</h1>

{{#link-to 'bill-list'}}Back{{/link-to}}
